{% extends "base.html" %}

{% block title %}
Nosotros
{% endblock%}

{% block content %}
<h3>Nosotros</h3>
<p><span>El Agro en Bytes</span> surge con la intencion de facilitarle a los agricultores en algunos momentos específicos del ciclo de producción, que pueden resultar clave al momento de producir, simplificando algunos cálculos que son de importancia dentro del proceso de producción. Por esta razón es que se han implementado una serie de calculos que es importante llevar a cabo a fin de que permitan aprovechar de la mejor manera que es bueno hacer, puesto que estos pueden ayudar a ser más eficientes en el proceso de produccion ahorrando tiempo, dinero y esfuerzo</p>
<p>
    Adicionalmente la intención de El Agro en Bytes, es tambien ayudar en este camino hacia la digitalización de la agricultura.
</p>
{% endblock %}